.main-conatiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card ul {
    list-style: none;
}

.card ul li {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}